# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (your venv folder)
venv/
ENV/
env/
backend/venv/
# Environments / Secrets
.env
.venv
secret_settings.py

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*

private_uploads/

compare.html
compare.py
compare.js
compare.css